@import url('https://fonts.googleapis.com/css2?family=Galindo&family=Karma:wght@300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    margin: 0;
    
}

.navbar {
    height: 80px;
    background-color: black;
    display: flex;
    position: sticky;
    align-items: center;
    justify-content: center;
    z-index: 999;
    top: 0;
}

.navbar-toggler-icon {
    color: white;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    max-width: 1300px;
    align-items: center;
    height: 80px;
    margin: 0 auto;
    padding: 0 15px;
    width: 100%;
}

.nav-logo {
    text-decoration: none;
    font-size: 1.9em;
    background: linear-gradient(to right, #00AC3E 0%, #005A21 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 5px;
    font-family: "Karma", serif;
    font-weight: 700;
}

h1.nav-logo {
    font-size: 3em;
}

#btns {
    display: flex;
    justify-content: start;
}

 .nav-link {
    background-color: #028833;
    color: white;
    border: 2px solid white;
    border-radius: 1em;
    cursor: pointer;
    padding: 5px;
    text-decoration: none;
}

.login,
.sign-up {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.home {
    height: 150vh;
}

fieldset {
    height: 40%;
    display: grid;
    grid-template-rows: 1fr 2fr;
    border: 2px solid black;
    padding: 1em;
}

form {
    display: grid;
}

label {
    margin-right: 1em;
}

.footer {
    background: black;
    height: 10vh;
}

.home {
    display: block;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background-color: transparent;
}

.navbar-default .navbar-toggle {
    border: none;
}

.navbar-toggle span.icon-bar {
    transition: all 0.15s;
}

.navbar-toggle span:nth-child(2) {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
}

.navbar-toggle span:nth-child(3) {
    opacity: 0;
}

.navbar-toggle span:nth-child(4) {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
}

.navbar-toggle.collapsed span:nth-child(2),
.navbar-toggle.collapsed span:nth-child(4) {
    transform: rotate(0);
}

.navbar-toggle.collapsed span:nth-child(3) {
    opacity: 1;
}

header {
    background-color: #00AC3E;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

main {
    padding: 20px;
    height: 90%;
    background-color: #92caa8;
}

.match-section {
    margin-bottom: 20px;
}

.card {
    background-color: lightgrey;
    margin: 1% 6% 1% 6%;
}

.card-body {
    display: flex;
    justify-content: space-around;
}

.imgs {
    display: flex;
    justify-content: space-around;
}

.img {
    height: 9em;
}

.match {
    text-align: center;
    margin: 0;
}

.container {
    display: flex;
    justify-content: space-around;
    height: 300px;
    margin-top: 15%;
}

.right {
    text-align: right;
    align-self: end;
}