* {
    box-sizing: border-box;
    margin: 0;
    margin: 0;
}

.navbar {
    height: 80px;
    background-color: black;
    display: flex;
    position: sticky;
    align-items: center;
    justify-content: center;
    z-index: 999;
    top: 0;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    max-width: 1300px;
    align-items: center;
    height: 80px;
    margin: 0 auto;
    padding: 0 15px;
    width: 100%;
}

.nav-logo {
    text-decoration: none;
    font-size: 1.2em;
    color: #00AC3E;
    border: 2px solid #00AC3E;
    padding: 5px;
    font-style: italic;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 700;
}

#btns {
    display: flex;
    gap: 1em;
}

#btns a {
    background-color:  #028833;
    color: white;
    border: 2px solid white;
    border-radius: 1em;
    cursor: pointer;
    padding: 5px;
    text-decoration: none;
}

.login,
.home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.sign-up {
    display: flex;
    justify-content: center;
    height: 90vh;
}

fieldset {
    height: 40%;
    display: grid;
    grid-template-rows: 1fr 2fr;
}

form {
    display: grid;
}

label {
    margin-right: 1em;
}

.footer {
    background: black;
    height: 10vh;
}

@media screen and (max-width: 1000px) {
    fieldset {
        height: 20%;
    }
}