* {
    box-sizing: border-box;
    margin: 0;
    margin: 0;
}

.navbar {
    height: 80px;
    background-color: black;
    display: flex;
    position: sticky;
    align-items: center;
    justify-content: center;
    z-index: 999;
    top: 0;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    max-width: 1300px;
    align-items: center;
    height: 80px;
    margin: 0 auto;
    padding: 0 15px;
    width: 100%;
}

.nav-logo {
    text-decoration: none;
    font-size: 1.2em;
    color: #00AC3E;
    border: 2px solid #00AC3E;
    padding: 5px;
    font-style: italic;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 700;
}

#btns {
    display: flex;
    gap: 1em;
}

button {
    background-color:  #028833;
    color: white;
    border: 2px solid white;
    border-radius: 1em;
    cursor: pointer;
    padding: 5px;
}